$pawtica-pink: #db60be;
$peach: #fca17d;
$sea-shell: #fff3e7;
$oxford: #525b76;
$plum: #483982;

$primary: $pawtica-pink;
$secondary: $peach;
$brand: $pawtica-pink;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: 'Inknut Antiqua', serif;

$headings-font-family: $font-family-serif;

$font-size-base: 1.25rem;
$body-bg: $sea-shell;
$body-color: $oxford;
